
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: black;
}
.header-wrapper {
  width: 94%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
}

.logo img {
  margin-top: 3px;
  width: 115px;
}
.nav-links {
  display: flex;
  align-items: center;
  gap: 35px;
}
.nav-item {
  position: relative;
}
.nav-item a {
  text-transform: uppercase;
  font-family: "helvetica";
  font-size: 13px;
  font-weight: 550;
  letter-spacing: 3px;
  color: #fff6;
}
ul {
  display: flex;
}

.nav-item a.active {
  color: #fff;
}
.active::after {
  content: "";
  position: absolute;
  top: 57%;
  left: -2px;
  width: 102%;
  height: 0.5px;
  background-color: #ff671f;
}
section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1f242d;
  font-size: 100px;
  color: #fff;
  font-weight: 700;
}

section:nth-child(odd) {
  background: #323946;
}
